<h1>Mission Rise</h1>

<h2>Question</h2>

<div>
  <%= @question.prompt %>
</div>


<div>
  <%= form_tag decision_path(id:@question.id), method: :put do %>
      <%= render @partial, meta: @question.meta %>
  <% end %>
</div>


