<div class="welcome center">
  <div class="hero-container">
    <div class="hero">
      <div class="welcome-title">Easier for You. Better for your family.</div>
      <p><%= link_to "Find My Benefits", decisions_path, class: 'btn btn-primary btn-lg btn-welcome' %></p>
    </div>
  </div>
</div>
