<div class="jumbotron text-xs-center">
  <%= image_tag 'congrats.png', style: "width: 100%" %>
  <hr>
  <%= image_tag 'best.png', style: "width: 100%; max-width: 600px;"  %>
  <hr>
  <%= image_tag 'next.png', style: "width: 100%; max-width: 600px"  %>
</div>
